html{
    background-image: url(../img/1.jpg.jpg);
}
.első{
   color: rgba(227, 212, 150);
   font-size: 25px;
   text-align:center;
   position: relative;
   top: 552px;
   left: 10px;
}
 .második{
    color: rgba(227, 212, 150);
    font-size: 25px;
    text-align:center;
    position: relative;
    top: 552px;
    left: 10px;
 }
  .button:hover {
    color:rgb(227, 212, 150);
    transition-duration: 1s;
    box-shadow: 2px 2px black;
    }
.button:active {
        transform: translateY(5px);
    }